<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
    href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
    rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script defer src="main.js"></script>

</head>
<body id="body">
    <%- include("./partials/header.ejs")  %> 
    <main id="main">
        <section>
            <h1>My Data </h1>

            <% arrUser.forEach(item => {  %>
            <div class="box">
                <article>
                    <h2>
                        <%= item.name; %> 
                    </h2>
                    <p>
                        <%=  item.email; %>                                                
                    </p>
                    <button class="del" data-linkid = "<%= item.id %>"> Delete </button>
                </article>
                    <%  }); %> 
            </section>
    </main>
    <%- include("./partials/footer.ejs")  %> 
    <script>
        const deleteButtons = document.querySelectorAll('.del');
        deleteButtons.forEach(button => {
          button.addEventListener('click', () => {
            const id = button.getAttribute('data-linkid');
            // console.log(id);
            fetch('/DashBoard/' + id, { method: 'DELETE' })
              .then((response) => response.json())
              .then((data) => 
              // data(obj).mylink(method)
                window.location.href = data.mylink

              )
              .catch((error) => {
                console.error('Error deleting:', error);
              });
          });
        });
      </script>
</body>
</html>